{{#partial "contenido"}}
    <h1>Categorías</h1>
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th></th>
        </tr>
        {{#each categorias}}
            <tr>
                <td>
                    <form method="POST" action="/categorias/{{id}}" class="my-0" style="display: flex;">
                        <input type="text" class="form-control form-control-sm" id="nombre" name="nombre" placeholder="Nombre de Categoría" value="{{nombre}}">
                        <input class="btn btn-sm btn-success" type="submit" value="✓"></form>
                    <br>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="permiteEntidadBase" name="permiteEntidadBase" class="form-check-input" type="checkbox" value="true">
                            Permite entidad base
                        </label>
                    </div>
                    <br>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input id="puedeSerJuridica" name="puedeSerJuridica" class="form-check-input" type="checkbox" value="true">
                            Puede ser juridica
                        </label>
                    </div>
                    <br>
                    </form>
                </td>
                <td><form method="POST" action="/categorias/{{id}}/delete" class="my-0"><input class="btn btn-sm btn-danger" type="submit" value="X"></form></td>
            </tr>
        {{/each}}
    </table>
    <form method="POST" action="/categorias/new"><input class="btn btn-primary" type="submit" value="Crear Categoría"></form></td>
{{/partial}}

{{>layout.hbs}}