{{#partial "contenido"}}
    <h1>Grupo 10</h1>
    <h3>Diseño de Sistemas 2020 - Jueves mañana</h3>
    <br>
    <h6>German Mallet</h6>
    <br>
    <h6>Guido Enrique</h6>
    <br>
    <h6>Gabriel Bouzas</h6>

{{/partial}}

{{>layout.hbs}}