{{#partial "contenido"}}
    <h1>Grupo 10</h1>
    <h3>Diseño de Sistemas 2020 - Jueves mañana</h3>
    <br>
    <h5>Germán Mallet</h5>
    <h5>Guido Enrique</h5>
    <h5>Gabriel Bouzas</h5>
{{/partial}}

{{>layout.hbs}}