{{#partial "contenido"}}
    DocumentoComercial doc;
    LocalDate fecha;
    MedioDePago mediopago;
    boolean escogerMenor;
    <form action="/egresos" method="GET">
        <div class="form-group">
            <label for="documento_comercial">Documento comercial</label>
            <input type="text" placeholder="Documento Comercial" name="doc_comercial">
        </div>
        <div class="form-group">
            <label for="fecha">Fecha de egreso</label>
            <input type="date" placeholder="Fecha del Egreso" name="fecha_egreso">
        </div>
        <div class="form-group">
            <label for="medio de pago">Medio de pago del egreso</label>
            <input type="text" placeholder="Medio de pago" name="medio_pago">
        </div>
        <div class="form-group">
            <label for="escogerMenor">Criterio para escoger menor</label>
            <input type="checkbox" placeholder="Criterio del egreso para escoger menor" name="criterio_egreso">
        </div>

        <input class="btn btn-primary btn-lg" type="submit" value="Agregar">
    </form>
{{/partial}}

{{>layout.hbs}}

