{{#partial "contenido"}}
    <div class="row justify-content-center align-items-center">
        <div class="col-lg-6">
            <h2 class="mb-3">Inicio de Sesi칩n</h2>
            <br>
            <form method="POST" action="/login">
                <div class="form-group">
                    <input id="username" type="text" class="form-control" placeholder="Usuario" name="username" value="{{username}}">
                </div>
                <div class="form-group">
                    <input id="password" type="password" class="form-control" placeholder="Contrase침a" name="password">
                </div>
                {{#if loginError}}<small class="form-text text-danger">Nombre de usuario o contrase침a incorrectos</small><br>{{/if}}
                <input type="submit" class="btn btn-success btn-lg" value="Iniciar sesi칩n">
            </form>
        </div>
    </div>
{{/partial}}

{{>layout.hbs}}