{{#partial "contenido"}}

{{#with egreso}}
        <h1>Egreso {{nombre}} </h1>

        <p><strong>Numero egreso:</strong> {{id}}</p>
        <p><strong>Valor total:</strong> {{valorTotal}}</p>
        <p><strong>Es valido: </strong> {{isTrue esValido}}</p>
    {{/with}}
{{/partial}}

{{>layout.hbs}}